.body{
    height: 100px;
    weight: 100px;
    /*background: url("https://phonoteka.org/uploads/posts/2021-04/1619542763_18-phonoteka_org-p-monotonnii-fon-dlya-fotoshopa-20.jpg");*/
    display: flex;
    justify-content: center;
}

.body_wrap {
    border: 15px solid lightblue;
    padding: 15px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #373741;

}
.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.input_size{

}
.button {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.color_value {
    color: #f3d79a;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.btn_wrap{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 0 10px;
    height: 10px;
    border-right: 4px solid #51e1d0;
    border-bottom: 4px solid #51e1d0;
    border-top: 4px solid #51e1d0;
    border-left: 4px solid #51e1d0;
}

































/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/
/*.body {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100px;*/
/*    background: url("https://phonoteka.org/uploads/posts/2021-04/1619542763_18-phonoteka_org-p-monotonnii-fon-dlya-fotoshopa-20.jpg");*/

/*    border-bottom-color: white;*/
/*    color: white;*/
/*    border: solid 1px;*/
/*    margin-top: 50px;*/
/*}*/

/*.body_wrap {*/
/*    border: 2px solid white;*/
/*    padding: 5px;*/
/*    width: 100px;*/
/*    border-radius: 5px;*/
/*}*/
/*.counter {*/
/*    background-color: midnightblue;*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    border-radius: 5px;*/
/*    margin-bottom: 5px;*/
/*}*/


/*.title {*/
/*    color: aqua;*/
/*}*/

/*.dis {*/
/*    color: red;*/
/*}*/

/*.button_content {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    border-radius: 5px;*/
/*    padding: 2px;*/
/*    color: white;*/
/*    border: solid 2px;*/
/*}*/
/*.button {*/
/*    border-radius: 5px;*/
/*    padding: 1px 2px;*/
/*    color: midnightblue;*/
/*    border: none;*/
/*    width: 50%;*/
/*}*/

/*.button:first-of-type {*/
/*    margin-right: 5px;*/
/*    width: 40%;*/
/*}*/
/*.btn_color1 {*/
/*    color: red;*/
/*}*/


/*.btn_color2 {*/
/*    color: green;*/
/*}*/

/*.input {*/
/*    display: flex;*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;*/
/*    border-radius: 5px;*/
/*    margin-bottom: 5px;*/
/*}*/